
body{
	background-color: #F2F2F2;
}
::selection {
background:#979797;
color:#fff;
}
.main{
	width: 1024px;
	background-color: #fff;
	margin:60px auto 0;
	/*padding: 100px;*/
	border-radius: 30px;
	box-shadow: 0 0 10px #d3d3d3;
	/*box-shadow: 0 0 20px black;*/
}
.main_content{
	width: 824px;
	margin: 0 auto;
}
.gap5{
	height: 5px;
	width: auto;
}
.gap10{
	height: 10px;
	width: auto;
}
.gap15{
	height: 15px;
	width: auto;
}
.gap20{
	height: 20px;
	width: auto;
}
.jianli{
	/*margin:40px 100px 0 0; */
	display: block;
	margin-left:850px; 
	margin-right: 100px;
	padding-top: 30px;
	/*font-weight: 900;*/
	font-family: pingfang_re;
	float:right;
}
.banner{
	height: 530px;
}
.banner img{
	width: 618px;
	height: 470px;
	float: right;
	margin-top: 60px;
}
.resume{
	font-size: 45px;
	/*font-weight: 900;*/
	font-family: pingfang_re;
}
.xiaobiaoti{
	font-size: 25px;
	/*font-weight: 900;*/
	font-family: pingfang_re;
}

.xiaobiaoti img{
	position: absolute;
	margin: 2px 0 0 10px;
	width: 20px;
	height: 30px;
}
.xiaobiaotier{
	font-size: 17px;
	/*font-weight: 900;*/
	font-family: pingfang_re;
}
.experience{
	background-color: #F2F2F2;
}
.xiahuaxian{
	margin-right: 30px; 
	text-decoration: underline;
	/*float: left;*/
}
.minganxinxi{
	display: inline;
}
.skills{

}
.aihao{
	height: 560px;
	background-color: #f2f2f2;
}
/* 图片盒子的样式，宽高、边框、阴影、位置、鼠标样式、溢出 */  
.pic{  
    width: 260px;  
    height: 410px;   
    float: left;
    position: relative;  
    overflow: hidden;  
    cursor: pointer;
}  
.pic img{
	width: 260px;
	height: 410px;
}
/* 图片标题的样式，宽高、背景色、水平垂直居中、定位，透明度 */  
.pic span{  
    position: absolute;  
    left: 0;  
    bottom: 0;  
    width: 260px;  
    height: 410px;  
    background: #fff;
    opacity: 0;  
}  
.pic span p{
    width: 220px;
    height: 350px;
    margin: 50px auto;
}
/* 给需要动画的元素加过渡属性 */  
.pic img,.pic span{  
    transition: all .1s;  
}  
/* hover之后透明动画 */  
.pic:hover span{  
    opacity: 1;  
}  
.graphgap{
	width: 22px;
	height: 410px;
	float: left;
}
.about{
	text-align: center;
}
.wechat{
	text-align: center;
}
.QRC{
	width: 150px;
	height: 150px;
}
.textcenter{
	text-align: center;
}
.backtop{
	width: 1024px;
	background-color: #f2f2f2;
	margin:0 auto ;
	/*text-align: center;*/
}
.backtop a{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.btmimg{
	width: 24px;
	height: 76px;
}



