#header_backguand{
	width: 100%;
	height: 100px;
	/*background: #FAFAFA;*/
	background: #FFFFFF;
	border-bottom:2px solid #f0f0f0 ;
	position: fixed;top: 0;
	/*border-bottom:1px solid #999 ;*/
}
#main{
	width: 1080px;
	margin: 0px auto;
	background: #FAFAFA
}
#header{
	width: 1080px;
	height: auto;
	/*background: #FAFAFA;*/
	background: #FFFFFF;
	border-bottom:2px solid #f0f0f0;
	position: fixed;top: 0;
	/*border-bottom: 1px solid #999;*/
}
#menu_fl{
	float: right;
	margin-top: 35px;
}
.menu{
	font-size: 20px;
	margin-left:50px ;
}
#logo{
	width: 100px;
	height: 100px;
	background: #333;
	float: left;
}
#logo_img{
	padding: 32px 35px;
}
#banner{
	width: 1080px;
	height: 685px;
	background:url(../img/banner_main.jpg) ;
	margin-top:100px;
}
#about{
	width: auto;
	background: #FAFAFA;
	margin-top:100px ;
}
#introduction{
	width: 360px;
	height: 547px;
	font-size: 30px;
	float: left;
}
#about_content{
	font-size: 15px;
	float: right;
	margin:280px 20px;
	text-align: right;
	line-height: 40px;\
}
#photograph{
	width: 720px;
	height: 547px;
	background: url(../img/photograph.jpg);
	margin-left:360px ;
}
#experience{
	width: auto;
	height: 718px;
	background: yellow;
	margin-top:100px ;
}
#experience_introduction{
	width: 362px;
	height: 718px;
	background: #FAFAFA;
	float: right;
}
#experience_name{
	float: right;
	font-size: 35px;
}
#experience_content{
	float: right;
	font-size: 15px;
	margin-top:445px ;
	text-align: right;
	line-height: 30px;
}
#experience_photograph{
	width: 718px;
	height: 718px;
	background: url(../img/experience_photograph.jpg);
}
#works{
	width: 1080px;
	height: 1359px;
	background: url(../img/works_photograth.jpg);
	margin-top: 100px;
}
#works_name{
	font-size: 35px;
}
#works_content{
	font-size: 15px;
	margin-top: 50px;
}
#skills{
	font-size: 30px;
	line-height: 30px;
	width: auto;
	height: 30px;
	display: block;
	margin-top:100px ;
}
#skills_icon{
	width: 1080px;
	height: 268px;
	background: url(../img/skills_icon.jpg);
	margin-top: 100px;
}
